<!DOCTYPE html>
<html>
<head>
    <title>Premium Access</title>
    <link rel="stylesheet" href="/css/base.css">
    <link rel="stylesheet" href="/css/index.css">
</head>
<body>
    <div class="container">
        <h1>Why Choose Our Winning Platform?</h1>
        <ul class="benefits-list">
            <li>Exclusive access to verified winning numbers</li>
            <li>Proven track record of success</li>
            <li>Timely delivery of numbers</li>
            <li>Secure payment processing</li>
        </ul>
        <a href="/form" class="button">Get Started</a>
    </div>
</body>
</html>